body {
    color: black;
    background-image: url("/Images/Henry.jpg");
    font-size: larger;
}
#aboutMe1 {
    opacity: 0.8;
    border: 3px groove darkslategray;
    height: auto;
    width: auto;
    background-color: azure;
    margin: 50px;
    text-align:center;  
}
#mySidenav a {
    position: absolute;
    left: -100px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: wavy;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

    #mySidenav a:hover {
        left: 0;
    }

#home {
    top: 20px;
    background-color: #322f2f;
}

#projects {
    top: 80px;
    background-color: #322f2f;
}

#blog {
    top: 140px;
    background-color: #322f2f;
}

#contact {
    top: 200px;
    background-color: #322f2f;
}
